<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
    <add name="test.local" connectionString="Data Source=.;Initial Catalog=test;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    -->
    <add name="test.local" connectionString="server=.\SQLExpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DbCommandInterceptType" value="Framework.Test.DbCommandIntercept, Framework.Dapper.Test" />
  </appSettings>
</configuration>